.heading{
    display: flex;
    background-color: #f8fafc;
    justify-content: space-between;
    padding: 0px ;
    box-shadow: 2px 0px 10px  3px black;
    align-items: center;
} 
.heading-text{
    font-size:1.5rem;
    padding-left: 100px
}
.heading nav{
    font-size:1.3rem;
    margin-right:100px;
    padding:5px;
    font-weight: 500;
    background-color: navy;
    color:white;

}